body {
    font-family: 'Arial', sans-serif;
}

/* Hover-Effekt für Karten */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px; /* Abstand von unten */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-body-img {
    object-fit: cover;
    width: 100px;
}

.bg-normal{
    background-color: aliceblue !important;
}
.bg-fighting{
    background-color: green !important;
}
.bg-flying{
    background-color: green !important;
}
.bg-poison{
    background-color: rgb(0, 99, 41) !important;
}
.bg-ground{
    background-color: brown !important;
}
.bg-rock{
    background-color: grey !important;
}
.bg-bug{
    background-color: lawngreen !important;
}
.bg-ghost{
    background-color: darkgrey!important;
}
.bg-steel{
    background-color: steelblue !important;
}
.bg-fire{
    background-color: red !important;
}
.bg-water{
    background-color: blue !important;
}
.bg-grass{
    background-color: green !important;
}
.bg-electric{
    background-color: yellow !important;
}
.bg-psychic{
    background-color: green !important;
}
.bg-ice{
    background-color: green !important;
}
.bg-dragon{
    background-color: green !important;
}
.bg-dark{
    background-color: green !important;
}
.bg-fairy{
    background-color: green !important;
}
.bg-stellar{
    background-color: green !important;
}
.bg-unkown{
    background-color: green !important;
}


/* Header */
header {
    background: linear-gradient(45deg, #007bff, #0056b3);
}

/* Footer */
footer {
    background: #222;
    color: #ccc;
    font-size: 0.9rem;
}

/* Karten Abstand */
#content {
    justify-content: center; /* Zentriert Karten horizontal */
}