body {
    color: white;
    margin: 0 auto;
    background-color: rgb(5, 23, 30);
    display: flex;
    flex-direction: column;
    font-family: "Figtree", sans-serif;
    font-size: clamp(10px, 1vw, 16px);
    box-sizing: border-box;
}

header {
    height: 150px;
    width: 100%;
    background-color: #082029;
}

footer {
    height: 150px;
    width: 100%;
    background: #082029;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 8px;
}

.detail {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.679);
}