.bg-normal {
    background-color: rgba(240, 248, 255, 0.25);
}

.bg-fighting {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-flying {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-poison {
    background-color: rgba(255, 0, 149, 0.25);
}

.bg-ground {
    background-color: rgba(165, 42, 42, 0.25);
}

.bg-rock {
    background-color: rgba(128, 128, 128, 0.25);
}

.bg-bug {
    background-color: rgba(124, 252, 0, 0.25);
}

.bg-ghost {
    background-color: rgba(169, 169, 169, 0.25);
}

.bg-steel {
    background-color: rgba(70, 130, 180, 0.25);
}

.bg-fire {
    background-color: rgba(255, 0, 0, 0.25);
}

.bg-water {
    background-color: rgba(0, 0, 255, 0.25);
}

.bg-grass {
    background-color: rgba(2, 196, 12, 0.507);
}

.bg-electric {
    background-color: rgba(255, 255, 0, 0.63);
}

.bg-psychic {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-ice {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-dragon {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-dark {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-fairy {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-stellar {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-unkown {
    background-color: rgba(0, 128, 0, 0.25);
}