.bg-normal {
    background-color: rgb(136, 136, 112);
    /* Dunkles Beige */
}

.bg-fire {
    background-color: rgb(153, 51, 34);
    /* Dunkles Rot-Orange */
}

.bg-water {
    background-color: rgb(34, 68, 102);
    /* Dunkles Blau */
}

.bg-grass {
    background-color: rgb(51, 102, 51);
    /* Dunkles Grün */
}

.bg-electric {
    background-color: rgb(153, 136, 17);
    /* Dunkles Gelb */
}

.bg-ice {
    background-color: rgb(85, 136, 153);
    /* Dunkles Türkis-Blau */
}

.bg-fighting {
    background-color: rgb(102, 51, 34);
    /* Dunkles Braun-Rot */
}

.bg-poison {
    background-color: rgb(85, 51, 102);
    /* Dunkles Lila */
}

.bg-ground {
    background-color: rgb(102, 85, 51);
    /* Dunkles Sandfarben */
}

.bg-flying {
    background-color: rgb(85, 102, 136);
    /* Dunkles Hellblau */
}

.bg-psychic {
    background-color: rgb(136, 51, 85);
    /* Dunkles Altrosa */
}

.bg-bug {
    background-color: rgb(85, 102, 51);
    /* Dunkles Moosgrün */
}

.bg-rock {
    background-color: rgb(102, 85, 68);
    /* Dunkles Steinfarben */
}

.bg-ghost {
    background-color: rgb(51, 51, 85);
    /* Dunkles Dunkellila */
}

.bg-dragon {
    background-color: rgb(51, 68, 119);
    /* Dunkles Blaugrau */
}

.bg-dark {
    background-color: rgb(34, 34, 34);
    /* Dunkles Schwarzgrau */
}

.bg-steel {
    background-color: rgb(68, 68, 85);
    /* Dunkles Grau-Silber */
}

.bg-fairy {
    background-color: rgb(136, 68, 102);
    /* Dunkles Pastellrosa */
}