.bg-normal {
    background-color: rgba(240, 248, 255, 0.25);
}

.bg-fighting {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-flying {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-poison {
    background-color: rgba(255, 0, 149, 0.25);
}

.bg-ground {
    background-color: rgba(165, 42, 42, 0.25);
}

.bg-rock {
    background-color: rgba(128, 128, 128, 0.25);
}

.bg-bug {
    background-color: rgba(124, 252, 0, 0.25);
}

.bg-ghost {
    background-color: rgba(169, 169, 169, 0.25);
}

.bg-steel {
    background-color: rgba(70, 130, 180, 0.25);
}

.bg-fire {
    background-color: rgba(255, 0, 0, 0.25);
}

.bg-water {
    background-color: rgba(0, 0, 255, 0.25);
}

.bg-grass {
    background-color: rgba(2, 196, 12, 0.507);
}

.bg-electric {
    background-color: rgba(255, 255, 0, 0.63);
}

.bg-psychic {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-ice {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-dragon {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-dark {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-fairy {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-stellar {
    background-color: rgba(0, 128, 0, 0.25);
}

.bg-unkown {
    background-color: rgba(0, 128, 0, 0.25);
}

.detail-bg-normal {
    background-color: rgb(240, 248, 255);
}

.detail-bg-fighting {
    background-color: rgb(0, 128, 0);
}

.detail-bg-flying {
    background-color: rgb(0, 128, 0);
}

.detail-bg-poison {
    background-color: rgb(255, 0, 149);
}

.detail-bg-ground {
    background-color: rgb(165, 42, 42);
}

.detail-bg-rock {
    background-color: rgb(128, 128, 128);
}

.detail-bg-bug {
    background-color: rgb(124, 252, 0);
}

.detail-bg-ghost {
    background-color: rgb(169, 169, 169);
}

.detail-bg-steel {
    background-color: rgb(70, 130, 180);
}

.detail-bg-fire {
    background-color: rgb(255, 0, 0);
}

.detail-bg-water {
    background-color: rgb(0, 0, 255);
}

.detail-bg-grass {
    background-color: rgb(2, 196, 12);
}

.detail-bg-electric {
    background-color: rgb(255, 255, 0);
}

.detail-bg-psychic {
    background-color: rgb(0, 128, 0);
}

.detail-bg-ice {
    background-color: rgb(0, 128, 0);
}

.detail-bg-dragon {
    background-color: rgb(0, 128, 0);
}

.detail-bg-dark {
    background-color: rgb(0, 128, 0);
}

.detail-bg-fairy {
    background-color: rgb(0, 128, 0);
}

.detail-bg-stellar {
    background-color: rgb(0, 128, 0);
}

.detail-bg-unkown {
    background-color: rgb(0, 128, 0);
}