.detail {
    z-index: 3;
    margin: 0 auto;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-container{
    border-radius: 30px;
    width: 400px;
    height: 600px;
}

.detail-head{
    height: 100px;
    align-items: center;
}

.detail-btn {
    cursor: pointer;
}

.detail-btn:hover{
    color: red;
    background-color: white;
}

.detail-img{
    position: relative;
    top: 0px;
    height: 200px;
    width: 100%;
}

.detail-img img{
    height: 250px;
    padding: 0px 16px 0px 16px;
    width: 100%;
}

.detail-data{
    padding: 50px 15px 50px 15px;
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 400px;
    height: 450px;
}