@media (max-width: 1339px){
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    header input{
        position: unset;
        width: 90%;
        margin: 10px auto;
        right: auto;
    }
}

@media (max-width: 500px) {
        header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    header h1 {
        font-size: 36px;
        text-align: center;
    }

    header img {
        height: 60px;
        margin: 0 auto 10px auto;
    }

    header input {
        width: 90%;
        margin: 10px auto;
        right: auto;
    }

    .content {
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

    .detail-tab {
        font-size: 14px;
    }

    .detail-content {
        width: 100%;
    }

    main button {
        width: 90%;
        margin: 10px 0;
    }

    .arrow-div {
        bottom: 20px;
        right: 20px;
    }

    .arrow-up, .arrow-down {
        width: 40px;
    }
    .detail-container {
        width: 300px !important;
    }

    .detail-data {
        width: 300px !important;
    }

    .detail-img-src {
        height: 200px !important;
        width: 100%;
    }

    .detail-img-icon {
        width: 40px !important;
        top: -45px !important;
        left: -120px !important;
    }
}

@media (max-width: 400px) {
    .detail-container {
        width: 200px !important;
    }

    .detail-data {
        width: 200px !important;
    }

    .detail-img-src {
        height: 150px !important;
        width: 100%;
    }

    .detail-img-icon {
        width: 40px !important;
        top: 6px !important;
        left: -70px !important;
    }
    
    .detail-content {
        height: 90% !important
    }


@media (max-width: 320px) {
    header h1 {
        font-size: 28px;
    }

    header img {
        height: 50px;
    }


    .detail-container {
        width: 95%;
    }

    .detail-tab {
        font-size: 12px;
    }

    .arrow-up, .arrow-down {
        width: 30px;
    }
}